# Dependencies
/node_modules

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Caching
.npm
.yarn-cache
.pnp.*

# Build output
dist
build

# System files
.DS_Store
Thumbs.db

# Test reports
coverage
.nyc_output

# Editor directories
.vscode
.idea
*.swp
*.swo
*~

logs/
